.ajuste_imagem{
    height: 100%;
    width: auto;
    object-fit: cover;
    align-self: center;
    justify-self: center;
    display: flex;

}

.backgroud{
    background-image: url(Backgroud1.png);
}

.cadastro{
    margin-top: 5%;
    margin-left: 2%;
}

.logo{
    height: 200px;
    position: relative;
    width: 100%;
    display: flex;
    align-content: center;
    justify-content: center;
    align-items: center;
}
.ajuste_card{
    width: 30%;
}

.sessoes_geral{
    height: 70vh;
    width: auto;
}

.sessao3{
    display: flex;
    align-items: center;
    justify-content: center;
}
.sessao4{
    display: flex;
    justify-content:baseline ;
    align-items:baseline;
    height: 80vh;
}

.divisao_div{
    height: 50%;
}

.sessao_geral{
    height: 100vh;
}
.div_alt_completa{
    height: 100%;
}

.video{
    width: 100%;
}
.linhas_s1{
    height: 23%;
}

.img_s4{
    height: 20%;
}

.space_s4{
    margin-top: 20%;
}
.rodape{
    background-color: antiquewhite ;
}