body{
    height: 5000px;
}
.logo{
    width: auto;
    text-align: center;
    margin-right: 0%;
}
.inicio{
    margin-top: 10%;
    position: absolute;
    left: 0;
    right: 0;
    text-align: center;
}
.fonte_sub{
    font-size: 50px;
    margin-top: 0;
}
.sessao1{
    height: 1000px;
    background: aqua;
    
}
.sessoa2{
    background-color: white;
    display: flex;
    align-items: center;
    flex-direction: column;

}
.sessoa3{
    background-color: aquamarine;
}
.caixoes{
    display: flex;
    align-items: center;
    width: 450px;
    height: auto;
    padding: 0;
    margin: 0;
    float: left;
}